.main{
    background-image: url('../images/1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 5px;
    color:black;
    min-height: 180vh;
}
.card {
    background-color: #f0f0f084;
    color:#000000;
    border: 1px solid #0f215c;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.8);
    }
.quantity-col { width: 100px; 
    }
.btn-quantity {
        border-color: #000000; 
    }
.btn-quantity-decrease {
        border-color: #000000;
    }
.input-group {
    width: 140px;
    }
.quantity-control {
    /* display: flex; */
    align-items: center;
    gap: 10px;
    }
.btn-blue {
    color:white;
    background-color:#795DEA;
    position: absolute;
    bottom: -600px;
    }
.delete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    }