.rating .star {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}

.bi-star, .bi-star-fill, .bi-star-half {
font-size: 24px;
color: gold;
}


.review-footer {
  display: flex;  /* Enable Flexbox */
  justify-content: space-between;  /* Space between items pushes them to opposite ends */
  align-items: center;  /* Align items vertically in the center */
}

.rating {
  display: flex;  /* Also enable Flexbox for the rating to keep stars inline */
  align-items: center;  /* Align stars vertically */
}

.num-thumb {
  color: rgb(0, 17, 255);
  display: flex;  /* Ensure voting content is inline */
  align-items: center;  /* Align upvotes count and icon vertically */
  font-size: 20px;  /* Font size for upvotes count */
}

.num-thumb i {
  margin-left: 5px;  /* Space between number of upvotes and the icon */
  color: rgb(0, 17, 255);  /* Color for the thumbs-up icon */
}

.review-number {
  font-size: 24px;  /* Larger font size for emphasis */
  font-weight: bold; /* Bold for additional emphasis */
}

.less-transparent {
  background-color: #ffffff8d;  /* White with less transparency */
}