{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}


{% block content %}

<br><br>
<h2>User Account Public View</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Account ID</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Account Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ user_info.id }}</td>
      <td>{{ user_info.email }}</td>
      <td>{{ user_info.firstname }}</td>
      <td>{{ user_info.lastname }}</td>
      <td>{{ user_info.balance }}</td>
    </tr>
  </tbody>
</table>

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

<a type="button" href="{{ url_for('users.update', id=current_user.id) }}" class="btn" style="background-color: #795DEA; color: white;">Edit</a>
<a type="button" href="{{ url_for('users.topup', id=current_user.id) }}" class="btn" style="background-color: #795DEA; color: white;">Top Up (1 click = $100)</a>
<button class="btn" style="background-color: #795DEA; color: white;">Withdraw</button>


{% endblock %}