{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}

<br><br>
<h2>User Account Public View</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Account ID</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Account Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ user_info.id }}</td>
      <td>{{ user_info.email }}</td>
      <td>{{ user_info.firstname }}</td>
      <td>{{ user_info.lastname }}</td>
      <td>{{ user_info.balance }}</td>
    </tr>
  </tbody>
</table>

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

<a type="button" id="editButton" href="{{ url_for('users.update', id=current_user.id) }}" class="btn btn-purple">Edit</a>
<a type="button" id="topupButton" href="{{ url_for('users.topup', id=current_user.id) }}" class="btn btn-purple">Top Up (1 click = $100)</a>
<a type="button" id="withdrawButton" href="#" class="btn btn-purple" >Withdraw (No Overdraft)</a>
<input type="number" id="withdrawAmount" name="withdrawAmount" value="{{ user_info.balance }}" class="input">

<style>
  .btn-purple {
    background-color: #795DEA; 
    color: white;
  }
  .input {
    height: 38px;
  }
</style>

<script>
  let withdrawAmount = document.getElementById("withdrawAmount").value;
  const withdrawButton = document.getElementById("withdrawButton");
  
  // Update the href attribute of the button with the new URL
  function updateWithdrawURL() {
    const currentUserId = {{ current_user.id }}; // Fetch current user ID from Flask
    const url = "{{ url_for('users.withdraws', id='__id__', amount='__amount__') }}";
    const newUrl = url.replace('__id__', currentUserId).replace('__amount__', withdrawAmount);
    withdrawButton.href = newUrl;
  }

  // Listen for changes in the input field and update the URL accordingly
  document.getElementById("withdrawAmount").addEventListener("input", function() {
    withdrawAmount = this.value;
    updateWithdrawURL();
  });

  // Initially update the URL on page load
  updateWithdrawURL();
</script>

{% endblock %}