<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini Amazon</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" id="bootstrap-icon">

  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <style>
    body {
        /* font-family: "Lato", sans-serif; */
        font-family: 'Bradley Hand', cursive;
    }

    .main-head {
        height: 150px;
        background: #FFF;
    }

    .sidenav {
        height: 100%; /* Seems to only consider the elements that are explicitly declared in this file. */
        background-color: #795DEA;
        /* overflow-x: hidden; */
        padding-top: 20px;
        display: flex; /* Allow elements to display in a row */
        justify-content: space-between;
        position: relative;
    }

    .main {
        padding: 0px 10px;
    }

    .login-main-text {
        margin-top: 20%;
        padding: 60px;
        color: #fff;
    }

    .login-main-text h2 {
        font-weight: 300;
    }

    .btn-black {
        background-color: #000 !important;
        color: #fff;
    }
  </style>
</head>

<body>
  {% block role %} {% endblock %}
  <!-- <div id="roleData" data-my-variable="{{ role }}"></div> -->
  <div class="sidenav">
    {% block msg %}
      <a href="{{ url_for('index.index') }}" style="color: aliceblue; text-align: right; margin: 0.5em; font-size: 20px;"> Young N Broke </a>
      <div style="color: aliceblue; text-align: right;">
        {% if current_user.is_authenticated %}
          <span id="greeting" style="margin: 5px;"> Hello {{current_user.firstname}}! </span> 
          <input id="role-toggler" type="checkbox" data-toggle="toggle" data-on="Buyer" data-off="Seller" data-onstyle="light" data-offstyle="dark" onchange="toggleRole()">
          <!-- buyer view -->
            <a id="buyer-cart" href="{{ url_for('carts.lookup') }}" type="button" class="btn btn-light "><i class="bi bi-cart"></i> Cart</a>
            <div id="buyer-dropdown" class="dropdow-center" style="display: inline-block;">
              <a class="btn dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/images/BuyerIcon.png" alt="Buyer Profile Icon" style="width: 30px; height: 30px;">
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Balance: {{current_user.balance}}</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('users.account') }}">Account Details</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Order History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('social.reviews') }}">All Reviews</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
              </div>
            </div>
          <!-- seller view -->
            <a id="seller-inventory" href="{{ url_for('seller.seller_inventory') }}" type="button" class="btn btn-light "><i class="bi bi-archive"></i> Inventory</a>
            <div id="seller-dropdown" class="dropdow-center" style="display: inline-block;">
              <a class="btn dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/images/SellerIcon.png" alt="Seller Profile Icon" style="width: 30px; height: 30px;">
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Balance: {{current_user.balance}}</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('users.account') }}">Account Details</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sale History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('social.reviews') }}">All Reviews</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
              </div>
            </div>
        {% else %}
          <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Login/Register</a>
          <a class="btn" href="{{ url_for('users.login') }}" role="button">
            <img src="/static/images/BuyerIcon.png" alt="Buyer Profile Icon" style="width: 30px; height: 30px;">
          </a>
        {% endif %}
      </div>
    {% endblock %}
  </div>
  <div class="main">
    {% block content %}{% endblock %}
  </div>

  <script>
    if ({{current_user.is_authenticated | tojson}}){
      var current_role = document.getElementById('roleData').dataset.myVariable; // initialize to buyer when page gets rendered
      if (current_role == 0){
        $('#role-toggler').bootstrapToggle('on', true); // silence mode: set true to stop onchange be called
        document.getElementById('buyer-cart').style.display = 'inline';
        document.getElementById('buyer-dropdown').style.display = 'inline-block';
        document.getElementById('seller-inventory').style.display = 'none';
        document.getElementById('seller-dropdown').style.display = 'none';
      } else {
        $('#role-toggler').bootstrapToggle('off', true); // silence mode: set true to stop onchange be called
        document.getElementById('buyer-cart').style.display = 'none';
        document.getElementById('buyer-dropdown').style.display = 'none';
        document.getElementById('seller-inventory').style.display = 'inline';
        document.getElementById('seller-dropdown').style.display = 'inline-block';
      }
    };


    function toggleRole(){
      if (current_role == 0){ // turn on seller elements and turn off buyer elements
        document.getElementById('buyer-cart').style.display = 'none';
        document.getElementById('buyer-dropdown').style.display = 'none';
        document.getElementById('seller-inventory').style.display = 'inline';
        document.getElementById('seller-dropdown').style.display = 'inline-block';
        current_role = 1
      } else { // turn on buyer elements and turn off seller elements
        document.getElementById('buyer-cart').style.display = 'inline';
        document.getElementById('buyer-dropdown').style.display = 'inline-block';
        document.getElementById('seller-inventory').style.display = 'none';
        document.getElementById('seller-dropdown').style.display = 'none';
        current_role = 0
      };
    };

  </script>
</body>
</html>
