{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
  <br><br>

  <h2>Products for sale:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity Available</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      {% for s in avail_products %}
        <tr>
          <th scope="row">{{s.seller_id}}</th>
          <td>{{s.seller_name}}</td>
          <td>{{s.product_name}}</td>
          <td>${{s.unit_price}}</td>
          <td>{{s.quantity_available}}</td>
          <td>{{s.description}}</td>
          <td>{{s.type}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <br><br>
  <a href="{{ url_for('index.index') }}" type="button" class="btn btn-primary">Go Back</a>
{% endblock %}