{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}


{% block content %}

<div class="container mt-5">
    <h2>Your Cart Items</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"> User ID</th>
                <th scope="col"> Inventory ID</th>
                <th scope="col"> Quantity</th>
                <th scope="col"> Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item.uid }}</td>
                <td>{{ item.iid }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.status }}</td>            </tr>
            {% else %}
            <tr>
                <td colspan="5">No items added to the cart.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('carts.lookup',page=1)}}">Start</a></li>
          <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('carts.lookup',page=page-1)}}" >Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
          <li class="page-item {% if page == max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('carts.lookup',page=page+1)}}">Next</a></li>
          <li class="page-item {% if page == max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('carts.lookup',page=max_page)}}">End</a></li>
        </ul>
      </nav>
</div>


{% endblock %}