{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Your Cart Items</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"> User ID</th>
                <th scope="col"> Inventory ID</th>
                <th scope="col"> Quantity</th>
                <th scope="col"> Status</th>
                <th scope="col"> Price </th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr id="{{ loop.index }}-cartitem">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item.uid }}</td>
                <td>{{ item.iid }}</td>
                <td>
                    <button class="btn btn-purple" onclick="decreaseQuantity({{item.uid}}, {{item.iid}}, {{item.unit_price}}, {{loop.index}})" {% if item.quantity < 1 %} disabled {% endif %}> - </button>
                    <i id="{{ loop.index }}-quantity">{{ item.quantity }}</i>
                    <button id="addButton" class="btn btn-purple" onclick="increaseQuantity({{item.uid}}, {{item.iid}},{{item.unit_price}}, {{loop.index}})"> + </button>
                </td>
                <td>{{ item.status }}</td>
                <td id="{{ loop.index }}-price"> {{ item.unit_price }} * {{ item.quantity }} = {{item.unit_price * item.quantity}}</td>       
                <td><button id="removeButton" class="btn btn-purple" onclick="removeRow({{item.iid}}, {{loop.index}})">X</button></td>
            </tr>    
            {% else %}
            <tr>
                <td colspan="5">No items added to the cart.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="text-align: right;">
        <form class="form-inline"> 
            <div class="form-group mr-sm-2">
                <label for="coupon">Coupon:</label>
                <input type="text" class="form-control" id="coupon" aria-describedby="coupon" placeholder="Enter Coupon">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-purple"> ✔️ </button>
            </div>
        </form>
        <h2 id="total-price" >Total Price: {{total_price}}</h2>
        <button class="btn btn-danger" onclick="removeAll({{user.id}})"> Clean All </button>
        <button class="btn btn-purple" onclick="submitOrder({{user.id}},{{total_price}},{{user.balance}})"> Submit </button>
    </div>
</div>

<script>
    function removeRow(iid, row_index){
        fetch("/cart/remove/" + iid, { method: 'GET', headers: {'Content-Type': 'application/json'} })
        .then(response => { window.location.reload(); })        
    };

    function decreaseQuantity(uid,iid,price,row_index){
        var quantity = parseInt(document.getElementById(String(row_index+"-quantity")).innerHTML)
        fetch("/cart/decrease/" + uid + "/" + iid, { method: 'GET', headers: {'Content-Type': 'application/json'} })
        .then(response => { window.location.reload();})
    };

    function increaseQuantity(uid,iid,price,row_index){
        var quantity = parseInt(document.getElementById(String(row_index+"-quantity")).innerHTML)
        fetch("/cart/increase/" + uid + "/" + iid, { method: 'GET', headers: {'Content-Type': 'application/json'} })
        .then(response => response.json())
        .then(data => {
            var maxReached = data.max
            if (maxReached){ // no changes
                alert("Reached inventory maximum. Quantity cannot be increased.");
                document.getElementById("addButton").disabled = true
            } else {
                window.location.reload()
            }
        })
    };

    function removeAll(uid){
        fetch("/cart/remove/" + uid + "/all")
        .then(response => { window.location.reload(); })
    }

    // function submitOrder(cart_items, total_price, balance){
    async function submitOrder(uid,total,balance){
        console.log("Submit button is clicked.")
        // console.log("cart item:",{{cart_items}})

        // Check inventories
        var response = await fetch("/cart/check_inventories/"+ uid)
        var data = await response.json()
        console.log("check inventories validity:",data.good)
        if (!(data.good)){ alert("Cart items exceed inventories. Please remove some items.") }

        // Check balances
        const outOfBalance = total > balance
        console.log("check out of balance:",outOfBalance)
        if (outOfBalance){
            alert("Balance is low. Please top up or remove some items from the cart.")
        }

        // Update inventories and balances
        if (data.good && !outOfBalance){
            await fetch("/cart/submit_inventories/" + uid)
            await fetch("/cart/update_balance/" + uid + "/" + total)

            // Create new order
            await fetch("/cart/create_order/" + uid + "/" + "Dummy Address")

            // Empty the cart
            await fetch("/cart/remove/" + uid + "/all")
            alert("Order submitted")
            window.location.reload()
        }

        
    }
</script>


{% endblock %}