{% extends "base.html" %}

{% block role %}
<div id="roleData" data-my-variable="{{ role }}"></div>
{% endblock %}

{% block content %}
<br><br>

<h2>Products for sale:</h2>

<div class="search-and-filter">
  <form action="{{ url_for('products.search') }}" method="get" class="search-form">
    <label for="search" class="visually-hidden">Search</label>
    <i class="bi bi-search"></i>
    <input class="form-control" type="search" aria-label="Search" name="query">
  </form>
  
  <div class="filter-by">
    <label for="typeSelect" class="visually-hidden style="margin-right: 10px;">Filter By</label>
    <select id="typeSelect" class="form-select" onchange="updateProductType()">
      <option value="" disabled selected style="display: none;">Category</option>
      {% for type in types %}
      <option value="{{ type }}" {{ 'selected' if type == product_type }}>{{ type }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="sort-by">
    <label for="sortSelect" class="visually-hidden" style="margin-right: 10px;">Sort By</label>
    <select id="sortSelect" class="form-select" onchange="updateProductPrice()">
      <option value="" disabled selected style="display: none;">Highest Price</option>
      {% for sort in sorts %}
      <option value="{{ sort }}" {{ 'selected' if sort == product_sort }}>{{ sort }}</option>
      {% endfor %}
    </select>
  </div>
</div>


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Average Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products_on_page %}
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td><a href="{{ url_for('sellersProduct.seller_products', product_name=product.name) }}">{{ product.name }}</a></td>
      <td>{{ product.description }}</td>
      <td>{{ product.type }}</td>
      <td>${{ product.avg_price }}</td>
      <td>
        {% if product.creator_id == current_user.id %}
        <a href="{{ url_for('products.edit_product', pid=product.id) }}" class="btn btn-purple btn-warning">Edit</a>
        {% endif %}
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if product_type %}
      <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_by_type', type=product_type, page=1)}}">Start</a></li>
      <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_by_type', type=product_type, page=page-1)}}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
      <li class="page-item {% if page >= max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_by_type', type=product_type, page=page+1)}}">Next</a></li>
      <li class="page-item {% if page == max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_by_type', type=product_type, page=max_page)}}">End</a></li>
    {% elif product_sort %}
      <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_sort_by_price', sort=product_sort, page=1)}}">Start</a></li>
      <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_sort_by_price', sort=product_sort, page=page-1)}}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
      <li class="page-item {% if page >= max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_sort_by_price', sort=product_sort, page=page+1)}}">Next</a></li>
      <li class="page-item {% if page == max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.products_sort_by_price', sort=product_sort, page=max_page)}}">End</a></li>
    {% else %}
      <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.index', type=product_type, page=1)}}">Start</a></li>
      <li class="page-item {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.index', type=product_type, page=page-1)}}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
      <li class="page-item {% if page >= max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.index', type=product_type, page=page+1)}}">Next</a></li>
      <li class="page-item {% if page == max_page %} disabled {% endif %}"><a class="page-link" href="{{url_for('index.index', type=product_type, page=max_page)}}">End</a></li>
    {% endif %}
  </ul>
</nav>

<br><br>
{% if current_user.is_authenticated %}
<a type="button" id="editButton" href="{{ url_for('products.post', id=current_user.id) }}" class="btn btn-purple">
  <i class="bi bi-patch-plus-fill"></i>
  Create a New Product?
</a>

<form action="{{ url_for('products.k_items') }}" method="get">
  <label for="k">Enter number of top expensive products to display:</label>
  <input type="number" id="k" name="k" min="1" required>
  <input type="submit" value="Submit">
</form>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}


<script>
  function updateProductType() {
      var typeSelect = document.getElementById('typeSelect');
      var selectedType = typeSelect.value;
      var url = "{{ url_for('index.products_by_type') }}?type=" + encodeURIComponent(selectedType);
      window.location.href = url;
  }

  function updateProductPrice() {
      var sortSelect = document.getElementById('sortSelect');
      var selectedSort = sortSelect.value;
      var url = "{{ url_for('index.products_sort_by_price') }}?sort=" + encodeURIComponent(selectedSort);
      window.location.href = url;
  }
</script>

{% endblock %}
