{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
<br><br>
  {% if current_user.is_authenticated %}
  <!-- BUYER VIEW -->
    {% if role == 0 %}
      {% if buyerOrders %}
        <h2>Your Order History So Far:</h2>
        <table class='table table-hover table-bordered container'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">Order Time</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Total Items</th>
              <th scope="col">Fulfillment Status</th>
            </tr>
          </thead>
          <tbody>
            {% for row in buyerOrders %}
            <tr>
              <td>{{ row.order_id }}</td>
              <td>{{ row.order_placing_time }}</td>
              <td>{{ row.total_amount }}</td>
              <td>{{ row.total_items }}</td>
              <td>{{ row.fulfillment_status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      <!-- Pagination Links -->
      <nav aria-label="Buyer Order History Pagination">
        <ul class="pagination">
            <li class="page-item {% if page_bo == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page=1) }}">Start</a>
            </li>
            <li class="page-item {% if page_bo == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page=page_bo-1) }}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">{{ page_bo }}</a>
            </li>
            <li class="page-item {% if page_bo == max_page_bo %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page=page_bo+1) }}">Next</a>
            </li>
            <li class="page-item {% if page_bo == max_page_bo %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page=max_page_bo) }}">End</a>
            </li>
        </ul>
      </nav>
      {% else %}
        <h3>No order history so far. Try buy something first.</h2>
      {% endif %}
    <!-- SELLER VIEW -->
    {% else %}
    
      <h3>You are seeing this because you are in Seller view. Switch to Buyer view to view your order history.</h2>
    {% endif %}
  {% else %}
      <p><a href="{{ url_for('users.login') }}">Log in</a> to see your review history!</p>
  {% endif %}
{% endblock %}