{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
<br><br>
  {% if current_user.is_authenticated %}
  <!-- BUYER VIEW -->
    {% if role == 0 %}
      {% if buyerOrders %}
        <h2>Your Order History So Far:</h2>
        <table class='table table-hover table-bordered container'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">Order Time</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Total Items</th>
              <th scope="col">Fulfillment Status</th>
            </tr>
          </thead>
          <tbody>
            {% for row in buyerOrders %}
            <tr>
              <td><a href="{{ url_for('users.order_details', oid=row.order_id) }}">{{ row.order_id }}</a></td>
              <td>{{ row.order_placing_time }}</td>
              <td>{{ row.total_amount }}</td>
              <td>{{ row.total_items }}</td>
              <td>{{ row.fulfillment_status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      <!-- Pagination Links -->
      <nav aria-label="Buyer Order History Pagination">
        <ul class="pagination">
            <li class="page-item {% if page_bo == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page_bo=1, page_so=page_so) }}">Start</a>
            </li>
            <li class="page-item {% if page_bo == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page_bo=page_bo-1, page_so=page_so) }}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">{{ page_bo }}</a>
            </li>
            <li class="page-item {% if page_bo == max_page_bo %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page_bo=page_bo+1, page_so=page_so) }}">Next</a>
            </li>
            <li class="page-item {% if page_bo == max_page_bo %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('users.order_history', page_bo=max_page_bo, page_so=page_so) }}">End</a>
            </li>
        </ul>
      </nav>
      {% else %}
        <h3>No order history so far. Try buy something first.</h2>
      {% endif %}
    <!-- SELLER VIEW -->
    {% else %}
      {% if sellerOrders %}
        <h2>Your Sale History:</h2>
        <table class='table table-hover table-bordered container'>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Order Number</th>
              <th scope="col">Date Placed</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Total Items</th>
              <th scope="col">Fulfillment Status</th>
            </tr>
          </thead>
          <tbody>
            {% for order in sellerOrders %}
            <tr>
              <td><a href="{{ url_for('seller.order_details', oid=order.oid) }}">{{ order.oid }}</a></td>
              <td>{{ order.time_placed}}</td>
              <td>{{ order.total_amount }}</td>
              <td>{{ order.total_items }}</td>
              <!-- <td>{{ order.fulfillment_status }}</td> -->
              <td>
                  {% if order.fulfillment_status == 'Fulfilled' %}
                      <span class="badge bg-success" style="font-size: 1.05rem;">FULFILLED</span>
                  {% elif order.fulfillment_status == 'Canceled' %}
                      <span class="badge bg-danger" style="font-size: 1.05rem;">CANCELLED</span>
                  {% elif order.fulfillment_status == 'Placed' %}
                      <span class="badge bg-warning" style="font-size: 1.05rem;">PLACED</span>
                  {% else %}
                      <span class="badge bg-warning" style="font-size: 1.05rem;">IN DELIVERY</span>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- Pagination Links -->
        <nav aria-label="Inventory navigation">
          <ul class="pagination">
              <li class="page-item {% if page_so == 1 %} disabled {% endif %}">
                  <a class="page-link" href="{{ url_for('users.order_history', page_so=1, page_bo=page_bo) }}">Start</a>
              </li>
              <li class="page-item {% if page_so == 1 %} disabled {% endif %}">
                  <a class="page-link" href="{{ url_for('users.order_history', page_so=page_so-1, page_bo=page_bo) }}">Previous</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="#">{{ page_so }}</a>
              </li>
              <li class="page-item {% if page_so == max_page_so %} disabled {% endif %}">
                  <a class="page-link" href="{{ url_for('users.order_history', page_so=page_so+1, page_bo=page_bo) }}">Next</a>
              </li>
              <li class="page-item {% if page_so == max_page_so %} disabled {% endif %}">
                  <a class="page-link" href="{{ url_for('users.order_history', page_so=max_page_so, page_bo=page_bo) }}">End</a>
              </li>
          </ul>
        </nav>
      {% else %}
        <h3>No sales history available. Get selling to see some activity here!</h3>
      {% endif %}
    {% endif %}
  {% else %}
      <p><a href="{{ url_for('users.login') }}">Log in</a> to see your review history!</p>
  {% endif %}
{% endblock %}