{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
  <h1>Ready to Create a New Product?</h1>

  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.product_name.label }}<br/>
      {{ form.product_name(size=32) }}<br/>
      {% for error in form.product_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.description.label }}<br/>
      {{ form.description(size=32) }}<br/>
      {% for error in form.description.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.type.label }}<br/>
      {{ form.type(size=64) }}<br/>
      {% for error in form.type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}