{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
<br><br>
{% if current_user.is_authenticated %}
  {% if role == 1 %}
    {% if orders %}
      <h2>Your Sale History:</h2>
      <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Date Placed</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Total Items</th>
            <th scope="col">Fulfillment Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a href="{{ url_for('seller.order_details', oid=order.oid) }}">{{ order.oid }}</a></td>
            <td>{{ order.time_placed}}</td>
            <td>{{ order.total_amount }}</td>
            <td>{{ order.total_items }}</td>
            <!-- <td>{{ order.fulfillment_status }}</td> -->
            <td>
                {% if order.fulfillment_status == 'Fulfilled' %}
                    <span class="badge bg-success" style="font-size: 1.05rem;">FULFILLED</span>
                {% elif order.fulfillment_status == 'Canceled' %}
                    <span class="badge bg-danger" style="font-size: 1.05rem;">CANCELLED</span>
                {% elif order.fulfillment_status == 'Placed' %}
                    <span class="badge bg-warning" style="font-size: 1.05rem;">PLACED</span>
                {% else %}
                    <span class="badge bg-warning" style="font-size: 1.05rem;">IN DELIVERY</span>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Pagination Links -->
      <nav aria-label="Inventory navigation">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('seller.sale_history', page=1) }}">Start</a>
            </li>
            <li class="page-item {% if page == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('seller.sale_history', page=page-1) }}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">{{ page }}</a>
            </li>
            <li class="page-item {% if page == max_page %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('seller.sale_history', page=page+1) }}">Next</a>
            </li>
            <li class="page-item {% if page == max_page %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('seller.sale_history', page=max_page) }}">End</a>
            </li>
        </ul>
    </nav>

    {% else %}
      <h3>No sales history available. Get selling to see some activity here!</h3>
    {% endif %}
  {% else %}
    <h3>This area is restricted to sellers only.</h3>
  {% endif %}
{% else %}
    <p><a href="{{ url_for('users.login') }}">Log in</a> to manage your sales!</p>
{% endif %}
{% endblock %}
