{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
  <br><br>
  {% if role ==0 %}
    {% if reviews_received %}
      <h2>All Reviews This Seller Received</h2>
      <div class='table table-hover table-bordered container'>
        {% for r in reviews_received%}
          <strong>{{r.buyer_id}}</strong>
          <p>{{r.content}}</p>
          <div class="voting">{{r.upvotes}}<i class="bi bi-hand-thumbs-up-fill"></i></div>
          <div class="rating">
            {% for i in range(1,6) %}
              <button type="button" class="star" data-index="{{ i }}">
                {% if i - 1 < r.rating %}
                  <i class="bi {% if i <= r.rating %}bi-star-fill{% elif i - 0.5 == r.rating %}bi-star-half{% else %}bi-star{% endif %}"></i>
                {% else %}
                  <i class="bi bi-star"></i>
                {% endif %}
              </button>
            {% endfor %}
          </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item {% if page_rr == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=1)}}">Start</a></li>
            <li class="page-item {% if page_rr == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=page_rr-1)}}" >Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">{{page_rr}}</a></li>
            <li class="page-item {% if page_rr == max_page_rr %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=page_rr+1)}}">Next</a></li>
            <li class="page-item {% if page_rr == max_page_rr %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=max_page_rr)}}">End</a></li>
          </ul>
        </nav> 
      </div>
    {% else %}
      <h3>No one has left review for this seller.</h2>
    {% endif %}
  {%else%}
    <h3>Please view this page as a buyer.</h2>
  {% endif %}
{% endblock %}
