{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block content %}
  <br><br>
  {% if role ==0 %}
    {%if isexist%}
      <a class="btn btn-purple" id="edit_review" href="{{url_for('social.reviews_edit',buyer_id=user_id,target_id=reviews_received[0].target_id,target_type=1)}}">Write a review!</a>
    {%else%}
      {%if iscustomer%}
        <a class="btn btn-purple" id="create_review" href="{{url_for('social.reviews_create',buyer_id=user_id,target_id=reviews_received[0].target_id,target_type=1)}}">Write a review!</a>
      {%else%}
        <div class="btn btn-purple">Write a review after purchase from this seller!</div>
      {%endif%}
    {%endif%}
    {% if reviews_received %}
      <h2>All Reviews This Seller Received</h2>
      <div class='table table-hover table-bordered container'>
        {% for r, status in review_status_zip%}
        <strong>{{r.buyer_id}}</strong>
        <p>{{r.content}}</p>
          <div class="voting" data-seller-id="{{ r.target_id }}" data-buyer-id="{{ r.buyer_id }}" data-user-id="{{ user_id }}" onclick="upvoteReview(this)">
            {%if status %}
              {{ r.upvotes }} <i class="bi bi-hand-thumbs-up-fill"></i>
            {% else %}
              {{ r.upvotes }} <i class="bi bi-hand-thumbs-up"></i>
            {%endif%}
          </div>
          <div class="rating">
            {% for i in range(1,6) %}
              <button type="button" class="star" data-index="{{ i }}">
                {% if i - 1 < r.rating %}
                  <i class="bi {% if i <= r.rating %}bi-star-fill{% elif i - 0.5 == r.rating %}bi-star-half{% else %}bi-star{% endif %}"></i>
                {% else %}
                  <i class="bi bi-star"></i>
                {% endif %}
              </button>
            {% endfor %}
          </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item {% if page_rr == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=1)}}">Start</a></li>
            <li class="page-item {% if page_rr == 1 %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=page_rr-1)}}" >Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">{{page_rr}}</a></li>
            <li class="page-item {% if page_rr == max_page_rr %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=page_rr+1)}}">Next</a></li>
            <li class="page-item {% if page_rr == max_page_rr %} disabled {% endif %}"><a class="page-link" href="{{url_for('social.seller_reviews_summary',seller_id=reviews_received[0].target_id,page_rr=max_page_rr)}}">End</a></li>
          </ul>
        </nav> 
      </div>
      <h3>Reviews Summary</h3>
      <div><strong>The average rating is {{avg_rating}}</strong></div>
      <div><strong>The number of reviews is {{num_reviews}}</strong></div>
      <canvas id="ratingChart"></canvas>

    {% else %}
      <h3>No one has left review for this seller.</h2>
    {% endif %}
  {%else%}
    <h3>Please view this page as a buyer.</h2>
  {% endif %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const ctx = document.getElementById('ratingChart').getContext('2d');
      const data = {{ hist | safe }};
      const labels = Object.keys(data);
      const counts = Object.values(data);


      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Counts of Ratings',
                  data: counts,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    });
  
    function upvoteReview(votingElement) {
      const sellerId = votingElement.getAttribute('data-seller-id');
      const buyerId = votingElement.getAttribute('data-buyer-id');
      const userId = votingElement.getAttribute('data-user-id');
      fetch(`/upvote?target_id=${sellerId}&target_type=1&buyer_id=${buyerId}&user_id=${userId}`, { method: 'GET' })
      .then(response => response.json())
      .then(data => {
        if (data.status) {
          votingElement.innerHTML = `${data.new_upvotes} <i class="bi bi-hand-thumbs-up-fill"></i>`;
        } else {
          votingElement.innerHTML = `${data.new_upvotes} <i class="bi bi-hand-thumbs-up"></i>`;
        }
      })
      .catch(error => console.error('Error:', error));
    }
  </script>
{% endblock %}
