{% extends "base.html" %}

{% block role %} <div id="roleData" data-my-variable="{{ role }}"></div> {% endblock %}

{% block content %}
<style>
    .quantity-col { width: 100px; 
    }
    .btn-quantity {
        border-color: #000000; 
    }
    .btn-quantity-decrease {
        border-color: #000000;
    }
  .input-group {
    width: 140px;
    }
  .quantity-control {
    /* display: flex; */
    align-items: center;
    gap: 10px;
    }
  .btn-blue {
    color:white;
    background-color:rgb(18, 111, 111);
    }
  .delete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    }
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    }
</style>

    <div class="container mt-5">
        <h2>Your Inventory</h2>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="row">
            {% for item in inventory_items %}
              <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ item.image_url }}"  style="max-height:300px; max-width:16rem; height:auto; display: block; margin: auto;" class="card-img-top" alt="{{ item.product_name }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ item.product_name }} [#{{item.iid}}]</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.type }}</small></p>
                    <p class="card-text">${{ item.unit_price }}</p>
                        <div class="quantity-control">
                        <form action="{{ url_for('seller.update_quantity', iid=item.iid) }}" method="post">
                            <div class="input-group input-group-sm mb-2">
                                <button class="btn btn-outline-secondary btn-sm btn-quantity-decrease" type="submit" name="change" value="decrease">-</button>
                                <input type="text" class="form-control text-center" name="quantity" value="{{ item.quantity_available }}" readonly>
                                <button class="btn btn-outline-secondary btn-sm btn-quantity" type="submit" name="change" value="increase">+</button>
                            </div>
                        </form>
                        <form action="{{ url_for('seller.delete_inventory', iid=item.iid) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm delete-btn" title="Remove">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                        </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="col-12">
                  <p>No inventory items found.</p>
                </div>
              </div>
            {% endfor %}
          </div>
        <!-- <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col"> Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="quantity-col">Quantity Available</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory_items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ item.product_name }} [ID:{{item.iid}}]</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.description }}</td>
                    <td>${{ item.unit_price }}</td>
                    <td>
                        <form action="{{ url_for('seller.update_quantity', iid=item.iid) }}" method="post">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary btn-sm btn-quantity-decrease" type="submit" name="change" value="decrease">-</button>
                                <input type="text" class="form-control text-center" name="quantity" value="{{ item.quantity_available }}" readonly>
                                <button class="btn btn-outline-secondary btn-sm btn-quantity" type="submit" name="change" value="increase">+</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('seller.delete_inventory', iid=item.iid) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm" title="Remove">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">No inventory items found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
        

        <!-- Pagination Links -->
        <nav aria-label="Inventory navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('seller.seller_inventory', page=1) }}">Start</a>
                </li>
                <li class="page-item {% if page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('seller.seller_inventory', page=page-1) }}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">{{ page }}</a>
                </li>
                <li class="page-item {% if page == max_page %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('seller.seller_inventory', page=page+1) }}">Next</a>
                </li>
                <li class="page-item {% if page == max_page %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('seller.seller_inventory', page=max_page) }}">End</a>
                </li>
            </ul>
        </nav>

        <!-- Button to Add New Product -->
        <!-- <div style="position: fixed; bottom: 20px; right: 20px;">
            <a href="{{ url_for('seller.add_inventory_item') }}" class="btn btn-black">Add New Product</a>
        </div> -->
        <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#addProductModal">
            Add New Product
          </button>
        <!-- Modal -->
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('seller.add_inventory_item') }}" method="post">
                        <div class="form-group">
                            <label for="productName">Product Name:</label>
                            <input type="text" class="form-control" id="productName" name="product_name" required>
                        </div>
                        <div class="form-group">
                            <label for="unitPrice">Unit Price:</label>
                            <input type="number" step="0.01" class="form-control" id="unitPrice" name="unit_price" required>
                        </div>
                        <div class="form-group">
                            <label for="quantityAvailable">Quantity Available:</label>
                            <input type="number" class="form-control" id="quantityAvailable" name="quantity_available" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- A phrase to prevent accidental button such as delete -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const deleteButtons = document.querySelectorAll('.btn-danger');
                deleteButtons.forEach(button => {
                    button.addEventListener('click', function (event) {
                        if (!confirm('Are you sure you want to remove this product?')) {
                            event.preventDefault();
                        }
                    });
                });
            });
        </script>        
    </div>
{% endblock %}
